h1
{
    text-align: center;
    text-transform: uppercase;
}
#kep1
{
    
}
table
{
    text-align: center;
    border: 3px solid black;
    background-color: green;
}
a
{
    color: white;
}
a:hover
{
    color:red;
}
a:link
{
    text-decoration: none;
}
#div1
{
    
}
#footer
{
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    position: fixed;
    bottom: 0;
}
#hirek
{
    position: relative;
}